.food-container{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 5px;
}
.food{
border:2px solid red;
padding: 10px;
border-radius: 15px;
}
.food img{
    width: 250px;
}
.food-test{
    background-color: darksalmon;
}